
div.login-container(ng-app="loginPage")
	h1.login-title Welcome to Blue Button
	div.container.fileupload-box(ng-controller="FileController")
		input.fileupload(type="file" fileread="fileread")
		i.fa.fa-circle-thin.fa-5x#fileselect(ng-click="clickInput()")


//- block scripts
//- 	script(src="scripts/directives/fileupload.js")
//- 	script(src="scripts/controllers/fileUploadCtrl.js")


//- div.login-container(ng-app="loginPage")
//- 	h1.login-title Welcome to Blue Button
//- 	div.container.fileupload-box(ng-controller="FileController")
//- 		input.fileupload(type="file" fileread="fileread")
//- 		i.fa.fa-circle-thin.fa-5x#fileselect(ng-click="clickInput()")



script(src="scripts/directives/fileupload.js")
script(src="scripts/controllers/fileUploadCtrl.js")
