div(ng-controller="MainController")
	div.med-list-container(ng-model="data")
		h1 Bob, these are your current medications: 
		div.col-md-5#medList
			div.single-med(ng-repeat="med in data")
				h4(draggable="true" is-draggable med="med").med-title {{med.Medication}}
		div.col-md-2#space
		div.col-md-5#schedule
			div
				h3 Morning <i class="icon-cloud-sun"></i>
				div#morning-container(draggable="true" drop-target)
			div 
				h3 Afternoon <i class="icon-sun"></i>
				div#afternoon-container(draggable="true" drop-target)
			div
				h3 Evening <i class="icon-moon"></i>
				div#evening-container(draggable="true" drop-target)
