div.container.main(ng-controller="MedListCtrl")
	div.med-list-container(ng-model="data")
		h1.greeting {{name}}, these are your current medications:
		div.col-md-4#medList
			div.row.border
				div.single-med(ng-repeat="med in data")
					div.med-container(draggable="true" is-draggable med="med")
						h4.med.med-title {{med.Medication}}
						h6.med.med-instructions {{med.Instructions}}
			div.row.icon
				a(href="/list") <i class="fa fa-smile-o fa-3x"></i><span>Click me for a printer friendly version</span>

		div.col-md-3(ng-controller="ScheduleCtrl")
			div.space(drop-target="true" ng-model="schedule.trashList")
				h6.drag-instructions Drag to add 
				<i class="fa fa-long-arrow-right"></i>

				h6.drag-instructions Drop to delete
				<i class="icon-arrow-curved" id="drop-icon"></i>

		div.col-md-4#schedule
			div.row.border(ng-controller="ScheduleCtrl")
				div
					h3.raleway#morning-title Morning <i class="icon-cloud-sun"></i>
					div.morning-container(draggable="true" drop-target="true" ng-model="schedule.morningList")
						div(ng-class="{hide: schedule.morningList.length > 0}") Drag and drop your morning medications here!
						div(ng-repeat="med in schedule.morningList" draggable="true" is-draggable )
							p(id="{{med.id}}") {{med.Medication}}
							p.med-instructions(id="{{med.id}}") {{med.Instructions}}
				div
					h3.raleway#afternoon-title Afternoon <i class="icon-sun"></i>
					div.afternoon-container(draggable="true" drop-target="true" ng-model="schedule.afternoonList")
						div(ng-class="{hide: schedule.afternoonList.length > 0}") Drag and drop your afternoon medications here!
						div(ng-repeat="med in schedule.afternoonList" draggable="true" is-draggable)
							p(id="{{med.id}}") {{med.Medication}}
							p.med-instructions(id="{{med.id}}") {{med.Instructions}}
				div
					h3.raleway#evening-title Evening <i class="icon-moon"></i>
					div.evening-container(draggable="true" drop-target="true" ng-model="schedule.eveningList")
						div(ng-class="{hide: schedule.eveningList.length > 0}") Drag and drop your evening medications here!
						div(ng-repeat="med in schedule.eveningList" draggable="true" is-draggable)
							p(id="{{med.id}}") {{med.Medication}}
							p.med-instructions(id="{{med.id}}") {{med.Instructions}}
			div.row.icon
				a(href="/schedule") <i class="fa fa-smile-o fa-3x"></i><span>Click me for a printer friendly version</span>
		div.col-md-1(ng-controller="DropDeleteCtrl")
			div.space(drop-target="true" ng-model="list")
				p &nbsp;

