doctype html
html(lang='en' ng-app="pillboxApp")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" )
		link(href="http://fonts.googleapis.com/css?family=Raleway+Dots:400,700" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="styles/main.css")
		link(rel="stylesheet" type="text/css" href="font/css/fontello.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css")
		script(src="/bower_components/ng-file-upload/angular-file-upload-html5-shim.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
		script(src="/bower_components/ng-file-upload/angular-file-upload.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js")
		script(src="/bower_components/angular-resource/angular-resource.js")
		title Final Project

	body
		div(ng-view="")
		//- 	block content

		//- block scripts
		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="scripts/app.js")
		script(src="scripts/services/services.js")
		script(src="scripts/min/directives.min.js")
		script(src="scripts/min/controllers.min.js")




	
	