.emphasize {
    font-size: 90px;
    margin-top: 0px;
}
.fa-circle-thin {
    color: #3498db;
    opacity: 0.6;
}
.fa-long-arrow-right{
    font-size: 50px;
    color: #7f8c8d;
}
.bounce-infinite {
    -webkit-animation-duration: 2s;
    -moz-animmation-duration: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -mox-animation-iteration-count: infinite;
}
.bounce-q3 {
    -webkit-animation-duration: 5s;
    -moz-animmation-duration: 5s;
    -moz-animation-delay: 5s;
    -webkit-animation-iteration-count: 3;
    -mox-animation-iteration-count: 3;
}
.orange-font {
    color: #f39c12;
    opacity: 1.0;
    font-weight: 100;
    letter-spacing: 4px;
}
.icon {
    text-align: center;
}
.btn-container {
    margin: 10px;
}
.show {
    display: none;
}
.space {
    height:900px;
}
.container.main {
    margin-top: 5%;
}
.margin-zero {
    margin: 0px;
}
.space {
    text-align: center;
    padding-top: 126px;
}
.border {
    border: 1px #bdc3c7 solid;
    padding: 10px;
}
.raleway, span {
    font-family: 'Raleway', serif;
}
span{
    padding-left: 10px;
}
.fa-smile-o {
    padding-top: 15px;
    opacity: 0.8;
}
.row {
    min-height: 500px;
}

.pb-tooltip {
    position: absolute;
    padding-right: 5px;
    top: 10px;
    left: 55px;
    pointer-events: none;
    border: 2px solid #c2e1f5;
    -webkit-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}
.pb-tooltip:before {
    right: 100.3%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.pb-tooltip:before {
    border-color:rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 12px;
    margin-top: -12px;
}

/*.pb-tooltip:after {*/
    /*border-color: rgba(219, 138, 141, 0);*/
    /*border-right-color: #db8a8d;*/
    /*border-width: 30px;*/
    /*margin-top: -30px;*/
/*}*/

/*css styling for medList*/
.greeting {
    font-family: 'Raleway', serif;
    font-weight: 100;
    padding-bottom: 30px;
}
.med-instructions{
    font-family: 'Lora', serif;
    padding: 10px 5px 10px 5px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(189, 195, 199, 0.21);
}
.med-title{
    font-weight: 400;
}
/*end css styling for med list*/

/*css styling for search component*/
input.search {
    margin: 5px;
}

.drop-down {
    list-style-type: none;
    text-align: center;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.search-input {
    width: 100%;
    height: 100%;
}

.dd-li {
    width: 100%;
}

.dd-li:hover, .highlight {
    background-color: aliceblue;
}

.search-container .row, .ddi-container.row {
    min-height: 0;
}

.search-box-div {
    text-align: right;
    height: 35px;
}
.search-btn-div {
    text-align: left;
}
/*end css styling for search component*/


/*css styling for schedule component*/
.fileupload {
	visibility: hidden !important;
	width: 0;
	height: 0;
}

.login-container, #search {
	text-align: center;
}

.fileupload-box {
	height: 200px;
	width: 500px;
	margin: 10px auto;
	text-align: center;
	line-height: 150px;
}

.login-title, .emphasize {
	font-family: 'Raleway Dots', serif;
	font-size: 60px;
	color: #2980b9;
}
.drag-instructions{
	color: #7f8c8d;
	font-family: 'Nixie One', serif;
}
#schedule {
    background: white;
}
#morning-title {
    background-color: rgb(255, 240, 244);
}
#afternoon-title {
    background-color: rgba(255, 165, 0,0.14);
}
#evening-title {
    background-color: rgba(0,0,255,0.09);
}
#drop-icon {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 50px;
    color: #7f8c8d;
}
/*end css styling for schedule components*/


/*css styling for welcome page*/
.fa-bullseye, .fa-arrow-up {
	color: #2980b9;
	opacity: 0.8;
}

.line-height-zero {
	line-height: 0;
}
/*end css styling for welcome page*/


/*css styling for ddi feature*/
.ddi-icon {
    padding: 5px 15px;
}

.ddi-arrow {
    font-size: 14px;
}

.ngdialog-content h2 {
    margin-top: 0;
}
/*end css styling for ddi feature*/

/*css styling for general modal*/
.ngdialog {
    padding-top: 20%;
}
.ngdialog-content {
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px 20px;
    position: relative;
    width: 40%;
    font-family: 'Raleway', serif;
}
.ngdialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
/*end css styling for general modal*/

/*css styling for ddi modal*/