doctype html
html(lang='en' ng-app="pillboxApp")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" )
		link(href="http://fonts.googleapis.com/css?family=Raleway+Dots:400,700" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="/bower_components/ngDialog/css/ngDialog.min.css")
		link(rel="stylesheet" type="text/css" href="styles/main.css")		
		link(rel="stylesheet" type="text/css" href="font/css/fontello.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js")
		script(src="/bower_components/ng-file-upload/angular-file-upload-html5-shim.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
		script(src="/bower_components/ng-file-upload/angular-file-upload.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js")
		script(src="/bower_components/ngDialog/js/ngDialog.min.js")
		script(src="/bower_components/angular-resource/angular-resource.js")
		script(src="/bower_components/elasticsearch/elasticsearch.angular.js")
		title Final Project

	body
		div(ng-view="")
		script(src="scripts/temp/templates.js")
		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="scripts/app.js")
		script(src="scripts/services/factory.js")
		script(src="scripts/temp/services.js")
		script(src="scripts/min/directives.min.js")
		script(src="scripts/min/controllers.min.js")





	
	